<span class="mdl-layout-title">SubBox</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ROOT_DIR}}/">
        <i class="material-icons" role="presentation">home</i>
        Home
    </a>
    <a class="mdl-navigation__link" href="{{ROOT_DIR}}/login">
        <i class="material-icons" role="presentation">lock</i>
        Login
    </a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link disabled" href="#">
        &COPY; {{currentYear}}, rGunti
    </a>
</nav>