<!DOCTYPE html>
<html>
<head>
    <title>SubBox [{{pageTitle}}]</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{> includes}}
</head>
<body>
    <!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="mdl-layout__header">{{> header}}</header>
        <div class="mdl-layout__drawer nav-menu">{{> nav}}</div>
        <main class="mdl-layout__content">
            <div class="page-content">{{{body}}}</div>
        </main>
    </div>
</body>
</html>